body{
    background-color: rgb(224, 210, 210);
}

img{
    height: 165px;
    width: 165px;
}
a[href$=".pk"]:hover
{
    background-color: rgb(255, 25, 71);
}
p span{
    font-size: x-large;
    font-weight: bold;
    color: rgb(100, 24, 100);
}
span:hover{
    color: black;
    font-size: xx-large;
}
.myName:hover{
    background-color: rgb(255, 144, 144);
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

.bold {
    font-weight: bold;
    font-size: 1em;
}